/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-nov-2017, 9:11:33
    Author     : daw
*/


.BordeTablas{
    border-width:1px;
    border-style:solid;
    border-color: black;
} 
.Bordesceldas{
    border-width:1px;
    border-style:solid;
    border-color: black;
}