/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-ene-2018, 10:47:14
    Author     : daw
*/

.SpanEnCursiva{
    font-style: italic;
    text-decoration: underline;
}
.SpanEnNegrita{
    font-weight: bold;
}
.TextoIzquierda{
    justify-content: flex-start;
    font-family: 'Joti One', cursive;
}
.TextoDerecha{
    justify-content: flex-end;
    font-family: 'Sedgwick Ave Display', cursive;
    text-decoration: white;
}